@charset "utf-8";

@font-face {
    font-family: 'VintageParty';
    src: url('assets/fonts/VintageParty-FreeVersion.ttf');
}

body {
    background-image: url('./assets/images/BG.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    margin: 10px;
    padding: 10;
    font-family: 'VintageParty', 'Tahoma', sans-serif;
    color: black;
}

.container {
    background-color: rgba(255, 255, 255, 0.7); 
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
}

h1, h2 {
    color: #ffc567;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); 
    -webkit-text-stroke: 0.1px black; 
    letter-spacing: 2.5px;
    text-align: center;
}

h1 {
    font-size: 3.5em;
    background: #009a5e;
    border: #ffc567;
    border-width: 0.3cap;
    border-style:double;
}

h2 {
    font-size: 3em;
    background: #009a5e;
    border: #ffc567;
    border-width: 0.15cap;
    border-style:dotted;
}

h3, #likes li, #works li, #future li, #goals li {
    font-family: 'Tahoma', sans-serif;
    font-weight: bold;
}

#header h3 {
    color:darkgreen;
    -webkit-text-stroke: 0.3px black; 
    font-size: 1.3em;
}

h3 {
    text-align: center;
}

#likes li, #works li, #future li, #goals li, #comments li {
    font-weight: bold;
    color: darkgreen;
    list-style-type: none;
}

h1:hover, h2:hover {
    transform: scale(1.03);
}

li:hover, #likes p:hover, #works p:hover,
#future p:hover, #goals p:hover, img:hover, button:hover,
.comment-container:hover, #display_latest:hover {
  transform: scale(1.06);
}

#pics {
    text-align: center;
}

#pics img {
    display: block;
    width: 450px !important; 
    height: 450px !important;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#carousel-pics {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    flex-direction: column;
}

#comments {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7); 
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

input[type="checkbox"] {
    margin-right: 5px;
}

#input_comments {
    margin-top: 15px;
}

#comment_button {
    background-color: #009a5e;
    color: #ffc567;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; 
    font-weight: bold;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); 
    -webkit-text-stroke: 0.3px black; 
}

#comment_button:hover {
	background-color: darkslategrey;
}

#comment_list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

p, li, label, .comment-content, .comment-replies {
    font-family: 'Tahoma', sans-serif;
}

#comments h3, label, .comment-replies p, #comment_button {
    font-size: 1.3em;
}

#likes li, #likes p, #likes img, #works li, #works p, #works img,
#future li, #future img, #future p, 
#goals li, #goals img, #goals p {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#likes li, #likes p, #likes img, #goals li,  #works li, 
#works p, #works img, #future li, #future img, #future p,
#goals img, #goals p {
    margin: 10px;
    background: linear-gradient(to bottom, white, #ddd); 
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 250px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#likes .interests-row, #works .works-row,
#future .future-row, #goals .goals-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center;     
}

#works .works-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#works li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#comments li {
    margin-bottom: 20px;
}

.comment-container {
    background: linear-gradient(to bottom, white, #ddd);
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 40%;
    margin: 10px;
}

.commenter-name, .reply-name, #comments h4 {
    font-weight: bold;
    color: darkgreen;
    text-align: left;
    font-size: 1.3em;
    padding-top: 10px;
    padding-left: 10px;
}

.commenter-name, .reply-name, #comment_list h4 {
    font-size: 1.5em;
}

#comments p {
    text-align: left;
    margin-bottom: 10px;
    color: black;
    font-weight: normal;
    font-size: 1.3em;
}

.comment-replies {
    text-align: left;
    color: black;
    font-weight: normal;
    font-size: 1.3em !important;
}

#input_comments {
    margin-top: 30px;
}

.reply-name::before {
    content: '\2192';
    margin-right: 5px;
}

#comment_list h4 {
    font-size: 1.5em !important;
}

#comment_list p {
    font-size: 1.3em !important;
    padding-left: 5px;
}

#comments ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.comment-container, .comment-content, .comment-replies {
    text-align: left;
}

#comments .commenter-name, #comments .reply-name {
    text-align: left;
}

#user_comment_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px auto;
}

#comment_list li {
    font-size: 1.15em;
}

#user_name, #user_comment {
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

#display_latest {
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: #009a5e;
    color: #ffc567;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); 
    -webkit-text-stroke: 0.3px black; 
}

#likes .interests-row .interest-item img, #works .works-row .work-item img, 
#future .future-row .future-item img, #goals .goals-row img {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#clover_logo {
    position: fixed;
    bottom: 10px;
    left: 40px;
    cursor: pointer;
    z-index: 1001;
}

#clover_logo_img {
    width: 50px;
    height: 50px; 
    transition: width 0.3s ease-in-out;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#navigation_container.open #clover_logo_img {
    width: 50px;
    height: 50px;
}

#navigation_container {
    left: -300px;
    position: fixed;
    top: 0;
    height: 100%;
    width: 300px;
    background-color: #009a5e;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    border-right: #ffc567;
    border-right-style: double;
    border-right-width: 10px;
    transition: left 0.3s ease-in-out; 
}

#social_media {
    padding: 5px;
    text-align: center;
}

#navigation_container #section {
    margin-left: 15px;
    text-align: center;
}

#social_media a, #navigation_container a {
    display: flex;
    align-items: center;
    margin-right: 5px;
    text-decoration: none;
    font-family: 'Tahoma', sans-serif;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 0.3px black; 
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 1.3em;
}

#social_media a {
    font-size: smaller;
    margin-left: 10px;
    font-size: 1.3em;
}

#navigation_container h3 {
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: darkgreen;
    -webkit-text-stroke: 0.3px black; 
    background: #ffc567;
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-color: #009a5e;
}

#navigation_container #name {
    margin-top: 20px;
    font-family: 'VintageParty';
    color: #ffc567;
    font-size: x-large;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); 
    -webkit-text-stroke: 0.1px black; 
    letter-spacing: 2.5px;
    text-align: center;
    border-top-style: double;
    border-bottom-style: double;
    padding: 3px;
    border-color: #ffc567;
    border-width: 5px;
    margin-bottom: 5px;
    font-size: 1.6em;
}

#navigation_container #name {
    display: block;
    text-align: center; 
    width: 100%; 
}

#social_media img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#navigation_container a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #027146; 
}

::-webkit-scrollbar-track {
    background-color: #ffc567; 
}

.slick-dots {
    position: absolute;
    bottom: 20px;
    list-style: none;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.slick-dots li {
    margin: 0 5px;
}

.slick-dots {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-dots li {
    margin: 0 5px;
    background: none;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    border: none;
    border-radius: 50%;
    background: #009a5e;
    color: transparent;
    cursor: pointer;
    transition: background 0.3s ease;
}

.slick-dots li.slick-active button {
    background: #009a5e;
}

#likes .slick-dots li,
#works .slick-dots li,
#future .slick-dots li,
#goals .slick-dots li {
    margin: 0 5px;
    background: none;
    border: none;
    box-shadow: none;
    padding: none;    
}

#likes .interests-row .interest-item,
#works .works-row .work-item,
#future .future-row .future-item,
#goals .goals-row .goals-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    width: 80%;
}

#works .works-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center;      
}

#future .future-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center;     
}

#goals .goals-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center;    
}

.interest-item, .works-item, .future-item, .goals-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.item img{
    width: 500px !important;
    height: 400px !important;
    object-fit: cover; 
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#likes p, #works p, #future p, #goals p {
    padding:50px;
    text-align: center;
    align-self: center;
    min-width: 400px;
    max-width: 400px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 30px;
}

#likes li, #works li, #future li, #goals li  {
    width: 50%;
    font-weight: bold;
    color: darkgreen;
    font-size: 1.5em;
    padding-top: 15px;
    padding-bottom: 15px;
}

#works a {
    color: darkgreen !important;   
}

#carousel-likes .slick-prev,
#carousel-future .slick-prev,
#carousel-future .slick-next,
#carousel-goals .slick-prev,
#carousel-goals .slick-next,
#carousel-works .slick-prev,
#carousel-works .slick-next,
#carousel-pics .slick-prev,
#carousel-pics .slick-next,
#carousel-likes .slick-next {
    font-size: 0;
    line-height: 0;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #009a5e;
    border: none;
    border-radius: 50%;
    color: transparent;
    cursor: pointer;
    transition: background 0.3s ease;
    z-index: 1;
}

#carousel-future .slick-prev,
#carousel-goals .slick-prev,
#carousel-works .slick-prev,
#carousel-pics .slick-prev,
#carousel-likes .slick-prev {
    left: 5%;
}

#carousel-future .slick-next,
#carousel-goals .slick-next,
#carousel-works .slick-next,
#carousel-pics .slick-next,
#carousel-likes .slick-next {
    right: 5%;
}

#carousel-future .slick-prev:before,
#carousel-future .slick-next:before,
#carousel-goals .slick-prev:before,
#carousel-goals .slick-next:before,
#carousel-works .slick-prev:before,
#carousel-works .slick-next:before,
#carousel-pics .slick-prev:before,
#carousel-pics .slick-next:before,
#carousel-likes .slick-prev:before,
#carousel-likes .slick-next:before {
    content: '\2190';
    font-size: 20px;
    color: #ffc567;
}

#carousel-future .slick-next:before,
#carousel-goals .slick-next:before,
#carousel-works .slick-next:before,
#carousel-pics .slick-next:before,
#carousel-likes .slick-next:before {
    content: '\2192'; 
}

#carousel-future .slick-prev:hover,
#carousel-future .slick-next:hover,
#carousel-goals .slick-prev:hover,
#carousel-goals .slick-next:hover,
#carousel-works .slick-prev:hover,
#carousel-works .slick-next:hover,
#carousel-pics .slick-prev:hover,
#carousel-pics .slick-next:hover,
#carousel-likes .slick-prev:hover,
#carousel-likes .slick-next:hover {
    background-color: darkslategrey;
}

.animated {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    25%,
    75% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
}

#comment_list h4 {
    margin: 0 !important;
    padding: 0 !important;
}

.comment-container {
    position: relative;
}

.comment-content {
    padding: 10px;
}

.comment-actions {
    position: absolute;
    top: 10px;
    right: 10px;
}

.edit-comment,
.delete-comment {
    cursor: pointer;
    margin-left: 10px;
    font-size: 30px;
}

.edit-comment:hover,
.delete-comment:hover {
    color: #ffc567;
}

#comments .comment-container .comment-replies p {
    padding-left: 10px !important;
    font-size: 1em !important;
}

/* Mobile Responsive Styles */
@media only screen and (max-width: 600px) {
    body {
        background-image: url('./assets/images/mobile bg.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100vh;
        background-position: center center; 
        margin: 0; 
        padding: 0; 
        display: flex;
        background-attachment: fixed;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 14px;
        line-height: 1.6;
    }

    .container {
        width: 80%;
    }

    h1 {
        font-size: 1.3em;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    h2 {
        font-size: 1.1em;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #header h3 {
        font-size: 0.8em !important;
        margin-bottom: 0;
        padding-bottom: 5px;
    }

    h3, #likes li, #works li, #future li, #goals li {
        font-size: 0.9em;
        padding: 5px !important;
    }

    p, label{
        font-size: 0.8em;
    }

    li {
        font-size: 0.7em;
    }

    .commenter-name, .comment-content p, .comment-replies p,
    .reply-name, .comment-content, .comment-replies, #user_name, #user_comment {
        font-size: 1em !important;
    }

    .commenter-name, .comment-content p, .reply-name, .comment-replies p {
        margin: 0;
    }

    #comment_list h4, #comment_list p {
        font-size: 0.8em !important;
    }

    label,  #comments h3 {
        font-size: 0.8em;
    }

    #header h3 {
        font-size: 1em;
    }

    .commenter-name, .reply-name {
        font-size: 1.1em !important;
    }

    #pics {
        text-align: center;
        padding-bottom: 30px;
    }

    #pics img {
        width: 200px !important;
        height: 200px !important;
        display: inline-block;
        align-items: center;
    }
    
    #carousel-pics .slick-track {
        display: flex;
        flex-wrap: nowrap;
    }

    #carousel-pics img {
        border-radius: 15px;
        margin: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    .slick-prev, .slick-next {
        top: 37.5% !important;
    }

    #carousel-pics .slick-prev,#carousel-pics .slick-next {
        top: 50% !important;
    }

    .slick-prev {
        left: -5% !important;
    }

    .slick-next {
        right: -5% !important;
    }

    #comment_button {
        margin-top: 10px;
        font-size: 1em;
    }

    .comment-container {
        width: 80%;
    }

    .item {
        flex-direction: column;
        gap: 10px;
    }    

    #likes li, #works li, #future li, #goals li {
        width: 170px;
    } 

    #likes p, #works p, #future p, #goals p {
        padding:20px;
        min-width: 180px;
        max-width: 180px;
        font-size: 0.8em;
        line-height: normal;
    }

    .item img{
        width: 200px !important;
        height: 200px !important;
    }

    #navigation_container {
        width: 60%;
    }

    #navigation_container #name {
        margin-top: 20px;
        font-size: 1em;
        display: block;
        text-align: center; 
        width: 100%;
    }

    #social_media a, #navigation_container a {
        font-size: 0.8em;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    #navigation_container h3 {
        font-size: 0.9em;
    }

    .edit-comment,
    .delete-comment {
    font-size: 20px;
    }

    #comments #comment_list h4 {
        font-size: 0.9em !important;
        padding-left: 0;
        margin-top: 0;
        padding-top: 0;
    }
    
    #comments #comment_list p {
        font-size: 0.8em !important;
        padding-left: 0;
        margin: 0;
    }
    
}

/* Tablet Responsive Styles */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 16px;
        line-height: 1.6;
    }

    .container {
        width: 80%;
    }

    h1 {
        font-size: 2em;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    h2 {
        font-size: 1.5em;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    #header h3 {
        font-size: 1em !important;
        margin-bottom: 0;
        padding-bottom: 5px;
    }

    h3, #likes li, #works li, #future li, #goals li {
        font-size: 1.1em;
        padding: 8px !important;
    }

    p, label {
        font-size: 1em;
    }

    li {
        font-size: 0.9em;
    }

    .commenter-name, .comment-content p, .comment-replies p,
    .reply-name, .comment-content, .comment-replies, #user_name, #user_comment {
        font-size: 1em !important;
    }

    label {
        font-size: 1em;
    }

    #header h3, .commenter-name, .reply-name {
        font-size: 1.2em !important;
    }

    #comments #comment_list h4 {
        font-size: 1.2em !important;
        padding-left: 0;
        margin-top: 0;
        padding-top: 0;
    }
    
    #comments #comment_list p {
        font-size: 1em !important;
        padding-left: 0;
        margin: 0;
    }

    #pics {
        text-align: center;
        padding-bottom: 30px;
    }

    #pics img {
        width: 300px !important;
        height: 300px !important;
        display: inline-block;
        align-items: center;
    }

    #carousel-pics .slick-track {
        display: flex;
        flex-wrap: nowrap;
    }

    #carousel-pics img {
        border-radius: 15px;
        margin: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    .slick-prev, .slick-next {
        top: 60% !important;
    }

    #carousel-pics .slick-prev, #carousel-pics .slick-next {
        top: 50% !important;
    }

    .slick-prev {
        left: -5% !important;
    }

    .slick-next {
        right: -5% !important;
    }

    #comment_button {
        margin-top: 10px;
        font-size: 1em;
    }

    .comment-container {
        width: 80%;
    }

    .item {
        flex-direction: row;
        gap: 10px;
    }

    #likes li, #works li, #future li, #goals li {
        width: 230px;
    }

    #likes p, #works p, #future p, #goals p {
        padding: 20px;
        min-width: 200px;
        max-width: 200px;
        font-size: 1em;
        line-height: normal;
    }

    .item img{
        width: 250px !important;
        height: 300px !important;
    }

    #navigation_container {
        width: 30%;
    }

    #navigation_container #name {
        margin-top: 20px;
        font-size: 1em;
        display: block;
        text-align: center;
        width: 100%;
    }

    #social_media a, #navigation_container a {
        font-size: 1em;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    #navigation_container h3 {
        font-size: 1em;
    }
}
